div
  ul.pagination
    li(ng-repeat='page in pages', ng-class='page.c')
      a(href='#', ng-click='paginate(page.p)', title='{{page.t}}') {{page.l}}
  div Seite {{page}} von {{pageCount}}. Ergebnisse {{page * model.options.limit}} - {{(page+1) * model.options.limit}} von {{model.count || 0}}